In [80]:
import warnings
warnings.filterwarnings('ignore')

In [81]:
import pandas as pd

In [82]:
database = pd.read_stata("./compustat_crsp_merged_1989_2019_identifier.dta")

In [83]:
# database

In [84]:
sorted_database = database.sort_values(by="cik", kind="mergesort").reset_index(drop = True)

In [85]:
sorted_database['datayear'] = pd.DatetimeIndex(sorted_database['datadate']).year

In [86]:
sorted_database

,gvkey,lpermno,lpermco,datadate,fyear,tic,cusip,conm,cik,sich,sic,datayear
0,001038,66413.0,6301.0,1989-03-31,1988.0,AEN.2,001669100,AMC ENTERTAINMENT INC -OLD,,7830.0,7830,1989
1,001038,66413.0,6301.0,1990-03-31,1989.0,AEN.2,001669100,AMC ENTERTAINMENT INC -OLD,,7830.0,7830,1990
2,001038,66413.0,6301.0,1991-03-31,1990.0,AEN.2,001669100,AMC ENTERTAINMENT INC -OLD,,7830.0,7830,1991
3,001038,66413.0,6301.0,1992-03-31,1991.0,AEN.2,001669100,AMC ENTERTAINMENT INC -OLD,,7830.0,7830,1992
4,001038,66413.0,6301.0,1993-03-31,1992.0,AEN.2,001669100,AMC ENTERTAINMENT INC -OLD,,7830.0,7830,1993
...,...,...,...,...,...,...,...,...,...,...,...,...
204988,066336,89498.0,43502.0,2005-12-31,2005.0,TSBA,89157H106,TOUCHSTONE BANKSHARES INC,0001821297,6020.0,6020,2005
204989,066336,89498.0,43502.0,2006-12-31,2006.0,TSBA,89157H106,TOUCHSTONE BANKSHARES INC,0001821297,6020.0,6020,2006
204990,066336,89498.0,43502.0,2007-12-31,2007.0,TSBA,89157H106,TOUCHSTONE BANKSHARES INC,0001821297,6020.0,6020,2007
204991,066336,89498.0,43502.0,2008-12-31,2008.0,TSBA,89157H106,TOUCHSTONE BANKSHARES INC,0001821297,6020.0,6020,2008
204992,176828,18459.0,56685.0,2019-12-31,2019.0,CARE,146103106,CARTER BANKSHARES INC,0001829576,6020.0,6020,2019

In [87]:
len(sorted_database)

204993

In [88]:
for i in range(len(sorted_database)):
    if len(sorted_database['cik'][i])!=0:
        print(i)
        break

5922

In [89]:
myDict = {}
for i in range(5922,len(sorted_database)):
    #storing this first CIK as previous CIK
    prev = sorted_database['cik'][i]
    #creating empty list for datadates over 1989-2021 period
    l = [None] * 33
    while i<len(sorted_database) and sorted_database['cik'][i] == prev:
        year = sorted_database['datayear'][i]
        sample_year = year
        l[year-1989] = sorted_database['datadate'][i]
        sample_datadate = sorted_database['datadate'][i]
        i += 1
        for j in range(len(l)):
            if l[j] == None:
                yr = j + 1989
                mnth = sample_datadate.month
                dy = sample_datadate.day
                # Create the Timestamp object
                ts = pd.Timestamp(year = yr, month = mnth, day = dy - 1, hour = 0, minute = 0, second = 0)
                l[j] = ts
    myDict[prev] = l
    i -= 1

In [90]:
len(myDict)

19511

In [91]:
myDict['0001821297']

[Timestamp('1989-12-30 00:00:00'),
 Timestamp('1990-12-30 00:00:00'),
 Timestamp('1991-12-30 00:00:00'),
 Timestamp('1992-12-30 00:00:00'),
 Timestamp('1993-12-30 00:00:00'),
 Timestamp('1994-12-30 00:00:00'),
 Timestamp('1995-12-30 00:00:00'),
 Timestamp('1996-12-30 00:00:00'),
 Timestamp('1997-12-30 00:00:00'),
 Timestamp('1998-12-30 00:00:00'),
 Timestamp('1999-12-30 00:00:00'),
 Timestamp('2000-12-30 00:00:00'),
 Timestamp('2001-12-30 00:00:00'),
 Timestamp('2002-12-30 00:00:00'),
 Timestamp('2003-12-30 00:00:00'),
 Timestamp('2004-12-30 00:00:00'),
 Timestamp('2005-12-30 00:00:00'),
 Timestamp('2006-12-30 00:00:00'),
 Timestamp('2007-12-30 00:00:00'),
 Timestamp('2008-12-31 00:00:00'),
 Timestamp('2009-12-30 00:00:00'),
 Timestamp('2010-12-30 00:00:00'),
 Timestamp('2011-12-30 00:00:00'),
 Timestamp('2012-12-30 00:00:00'),
 Timestamp('2013-12-30 00:00:00'),
 Timestamp('2014-12-30 00:00:00'),
 Timestamp('2015-12-30 00:00:00'),
 Timestamp('2016-12-30 00:00:00'),
 Timestamp('2017-12-30 00:00:00'),
 Timestamp('2018-12-30 00:00:00'),
 Timestamp('2019-12-30 00:00:00'),
 Timestamp('2020-12-30 00:00:00'),
 Timestamp('2021-12-30 00:00:00')]

In [92]:
df = pd.read_csv('data.csv',encoding="ISO-8859-1")

In [93]:
len(df)

229956

In [94]:
df.isnull().values.any()

True

In [95]:
df = df.dropna(inplace= False)

In [96]:
df = df.reset_index(drop=True)

In [97]:
len(df) #checking how many unique are there

229741

In [98]:
df

,Text,Field1,Field2_Text,Field3
0,"EOG Resources, Inc. (EOG) CEO Bill Thomas Pres...","Jun. 1, 2020 2:30 PM ET","EOG Resources, Inc. (EOG)","EOG Resources, Inc. (NYSE:EOG) AllianceBernste..."
1,Eaton Vance Corp. (EV) CEO Tom Faust on Q2 202...,"May 20, 2020 5:35 PM ET",Eaton Vance Corp. (EV),Eaton Vance Corp. (NYSE:EV) Q2 2020 Results C...
2,Whitestone REIT (WSR) CEO Jim Mastandrea on Q1...,"May 8, 2020 5:25 PM ET",Whitestone REIT (WSR),Whitestone REIT (NYSE:WSR) Q1 2020 Earnings Co...
3,Applied Materials Inc (AMAT) CEO Gary Dickerso...,"May 30, 2020 1:22 AM ET","Applied Materials, Inc. (AMAT)",Applied Materials Inc (NASDAQ:AMAT) 2020 Bern...
4,Garrett Motion Inc. (GTX) CEO Olivier Rabiller...,"May 11, 2020 5:16 PM ET",Garrett Motion Inc. (GTX),"Start Time: 08:30 January 1, 0000 9:26 AM ET..."
...,...,...,...,...
229736,Memorial Resource Development's (MRD) CEO John...,"May 6, 2015 9:50 PM ET",Memorial Resource Development Corp. (MRD),Memorial Resource Development Corp (NASDAQ:MRD...
229737,Intersect ENT's (XENT) CEO Lisa Earnhardt on Q...,"May 6, 2015 9:48 PM ET","Intersect ENT, Inc. (XENT)","Intersect ENT, Inc. (NASDAQ:XENT) Q1 2015 Earn..."
229738,Paycom Software's (PAYC) CEO Chad Richison on ...,"May 6, 2015 9:46 PM ET","Paycom Software, Inc. (PAYC)",Paycom Software Inc. (NYSE:PAYC) Q1 2015 Earni...
229739,Cerulean Pharma's (CERU) CEO Chris Guiffre Dis...,"May 6, 2015 9:46 PM ET","DarÃ© Bioscience, Inc. (DARE)",Cerulean Pharma Inc. (CERU) Q1 2015 Earnings C...
229740,Powell Industries' (POWL) CEO Mike Lucas on Q2...,"May 6, 2015 9:37 PM ET","Powell Industries, Inc. (POWL)","Powell Industries, Inc. (NASDAQ:POWL) Q2 2015 ..."

In [99]:
df['Text'].isnull().any()

False

In [100]:
com_name = df['Field2_Text']    # creating a list of company names and their tickers

In [101]:
#extracting tickers
tickers = []
Deleted_i = []
for i in range(229741):
    try:
        ticker = com_name[i][com_name[i].find("(")+1:com_name[i].find(")")]
    except:
        Deleted_i.append(i)
    tickers.append(ticker)

In [102]:
df['tickers'] = tickers         # creating a new column in dataframe of only tickers

In [103]:
df['tickers'].isnull().values.any()

False

In [104]:
#creating company names like we did for tickers
com_names = []
del_i = []
for i in range(len(com_name)):
    try:
        name = com_name[i][0:com_name[i].find("(")-1]
    except:
        del_i.append(i)
    com_names.append(name)

In [105]:
df['company_names_seekingalpha'] = com_names #creating a new column of company names from seeking alpha

In [106]:
cikandticker = database[['cik', 'tic']] #creating a subdataframe of only company name and tickers
#here tickers are the link between the company names from seeking alpha and company names from database

In [107]:
k = database[['cik', 'tic']]

In [108]:
len(k)

204993

In [109]:
cikandticker.drop_duplicates(inplace = True) #deduplication of dataframe

In [110]:
cikandticker[['cik','tic']]

               cik    tic
0       0000730052   ANTQ
1       0000001750    AIR
32      0000313368   ABSI
38      0000702511   ACSE
44      0000002134  6927B
...            ...    ...
204986  0001707210   NMCI
204988  0001739445    ACA
204990  0001720161   CTRM
204991  0001280776   IMUX
204992  0000921114   ARMP

[20518 rows x 2 columns]

In [111]:
#extracting company names from the database which have the same ticker as that of our original data from seeking alpha
ciks = []
for ticker in tickers:
    cik = cikandticker.loc[cikandticker['tic'] == ticker, 'cik']
    #print(company)
    try: #using try and except to avoid any errors when the company name is missing due to some missing values in data
        ciks.append(cik.iloc[0])
    except:
        ciks.append(None)

In [112]:
df['CIK'] = ciks #creating a new column of the company names from database to compare

In [113]:
conameandticker = database[['conm', 'tic']] #creating a subdataframe of only company name and tickers
#here tickers are the link between the company names from seeking alpha and company names from database

In [114]:
conameandticker.drop_duplicates(inplace = True) #deduplication of dataframe

In [115]:
conameandticker[['conm','tic']]

                              conm    tic
0            A.A. IMPORTING CO INC   ANTQ
1                         AAR CORP    AIR
32              ABS INDUSTRIES INC   ABSI
38             ACS ENTERPRISES INC   ACSE
44              ACS INDUSTRIES INC  6927B
...                            ...    ...
204986  NAVIOS MARITIME CONTAINERS   NMCI
204988                  ARCOSA INC    ACA
204990         CASTOR MARITIME INC   CTRM
204991                 IMMUNIC INC   IMUX
204992  ARMATA PHARMACEUTICALS INC   ARMP

[20518 rows x 2 columns]

In [116]:
#extracting company names from the database which have the same ticker as that of our original data from seeking alpha
companies = []
for ticker in tickers:
    company = conameandticker.loc[conameandticker['tic'] == ticker, 'conm']
    #print(company)
    try: #using try and except to avoid any errors when the company name is missing due to some missing values in data
        companies.append(company.iloc[0])
    except:
        companies.append(None)

In [117]:
df['company_names_database'] = companies #creating a new column of the company names from database to compare

# Fuzzy Matching

In [118]:
conda install -c conda-forge python-levenshtein

Note: you may need to restart the kernel to use updated packages.

Traceback (most recent call last):
  File "C:\Users\DIVYANSHU\anaconda3\Scripts\conda-script.py", line 11, in <module>
    from conda.cli import main
ModuleNotFoundError: No module named 'conda'

In [119]:
from fuzzywuzzy import fuzz
#if warning comes then use the below command in Anaconda Prompt
#conda install -c conda-forge python-levenshtein

In [120]:
#getting the scores after fuzzy matching between company names from two sources i.e seeking alpha and database
scores = []
for i,j in zip(df.company_names_seekingalpha,df.company_names_database):
    score = fuzz.token_set_ratio(i,j)
    scores.append(score)

In [121]:
df['similarity_scores'] = scores

In [122]:
years = []
dates = []
months = []
for i in range(len(df)):
    datetime = df['Field1'][i]
    month = datetime[0:3].strip()
    idx = datetime.find(',')
    date = datetime[4:idx].strip()
    year = datetime[idx+1:idx+6].strip()
    years.append(year)
    months.append(month)
    dates.append(date)

In [123]:
df['Year'] = years

In [124]:
df['Month'] = months

In [125]:
df['Day'] = dates

In [126]:
def toint(month):
    if month == "Jan":
        return 1
    elif month == "Feb":
        return 2
    elif month == "Mar":
        return 3
    elif month == "Apr":
        return 4
    elif month == "May":
        return 5
    elif month == "Jun":
        return 6
    elif month == "Jul":
        return 7
    elif month == "Aug":
        return 8
    elif month == "Sep":
        return 9
    elif month == "Oct":
        return 10
    elif month == "Nov":
        return 11
    else:
        return 12

In [127]:
calldict = {}
nonevalues = []
for i in range(len(df)):
    cik = df['CIK'][i]
    if cik==None:
        continue
    year = int(df['Year'][i])
    try:
        timestamp = myDict[cik][year-1989]
        datadate = timestamp.day
        datamonth = timestamp.month
        calldate = int(df['Day'][i])
        callmonth = toint(df['Month'][i])
        yr = year
        if callmonth < datamonth:
            yr = year - 1
        elif callmonth > datamonth:
            yr = year
        elif callmonth == datamonth:
            if calldate <= datadate:
                yr = year - 1
            else:
                yr = year
        if cik in calldict.keys():
            calldict[cik][yr-1989] += 1
        else:
            l = [0]*33
            l[yr-1989] += 1
            calldict[cik] = l
    except:
        nonevalues.append(i)

In [128]:
i

229740

In [129]:
len(calldict)

5837

In [130]:
concalldata = pd.DataFrame.from_dict(calldict, orient ='index')

In [131]:
concalldata

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0000821189,0,0,0,0,0,0,0,0,0,0,...,12,5,10,6,6,11,13,10,0,0
0000350797,0,0,0,0,0,0,0,0,0,0,...,6,5,6,7,6,7,8,6,0,0
0001175535,0,0,0,0,0,0,0,0,0,0,...,4,4,6,6,6,7,8,5,0,0
0000006951,0,0,0,0,0,0,0,0,0,0,...,9,11,5,7,6,10,9,15,0,0
0001617406,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,5,7,8,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0000754009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0001007019,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
0001505823,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
0001448301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
0001063259,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [132]:
len(nonevalues)

288

In [133]:
df.head()

,Text,Field1,Field2_Text,Field3,tickers,company_names_seekingalpha,CIK,company_names_database,similarity_scores,Year,Month,Day
0,"EOG Resources, Inc. (EOG) CEO Bill Thomas Pres...","Jun. 1, 2020 2:30 PM ET","EOG Resources, Inc. (EOG)","EOG Resources, Inc. (NYSE:EOG) AllianceBernste...",EOG,"EOG Resources, Inc.",0000821189,EOG RESOURCES INC,100,2020,Jun,1
1,Eaton Vance Corp. (EV) CEO Tom Faust on Q2 202...,"May 20, 2020 5:35 PM ET",Eaton Vance Corp. (EV),Eaton Vance Corp. (NYSE:EV) Q2 2020 Results C...,EV,Eaton Vance Corp.,0000350797,EATON VANCE CORP,100,2020,May,20
2,Whitestone REIT (WSR) CEO Jim Mastandrea on Q1...,"May 8, 2020 5:25 PM ET",Whitestone REIT (WSR),Whitestone REIT (NYSE:WSR) Q1 2020 Earnings Co...,WSR,Whitestone REIT,0001175535,WHITESTONE REIT,100,2020,May,8
3,Applied Materials Inc (AMAT) CEO Gary Dickerso...,"May 30, 2020 1:22 AM ET","Applied Materials, Inc. (AMAT)",Applied Materials Inc (NASDAQ:AMAT) 2020 Bern...,AMAT,"Applied Materials, Inc.",0000006951,APPLIED MATERIALS INC,100,2020,May,30
4,Garrett Motion Inc. (GTX) CEO Olivier Rabiller...,"May 11, 2020 5:16 PM ET",Garrett Motion Inc. (GTX),"Start Time: 08:30 January 1, 0000 9:26 AM ET...",GTX,Garrett Motion Inc.,None,None,0,2020,May,11

In [134]:
len(df)

229741

In [135]:
df

,Text,Field1,Field2_Text,Field3,tickers,company_names_seekingalpha,CIK,company_names_database,similarity_scores,Year,Month,Day
0,"EOG Resources, Inc. (EOG) CEO Bill Thomas Pres...","Jun. 1, 2020 2:30 PM ET","EOG Resources, Inc. (EOG)","EOG Resources, Inc. (NYSE:EOG) AllianceBernste...",EOG,"EOG Resources, Inc.",0000821189,EOG RESOURCES INC,100,2020,Jun,1
1,Eaton Vance Corp. (EV) CEO Tom Faust on Q2 202...,"May 20, 2020 5:35 PM ET",Eaton Vance Corp. (EV),Eaton Vance Corp. (NYSE:EV) Q2 2020 Results C...,EV,Eaton Vance Corp.,0000350797,EATON VANCE CORP,100,2020,May,20
2,Whitestone REIT (WSR) CEO Jim Mastandrea on Q1...,"May 8, 2020 5:25 PM ET",Whitestone REIT (WSR),Whitestone REIT (NYSE:WSR) Q1 2020 Earnings Co...,WSR,Whitestone REIT,0001175535,WHITESTONE REIT,100,2020,May,8
3,Applied Materials Inc (AMAT) CEO Gary Dickerso...,"May 30, 2020 1:22 AM ET","Applied Materials, Inc. (AMAT)",Applied Materials Inc (NASDAQ:AMAT) 2020 Bern...,AMAT,"Applied Materials, Inc.",0000006951,APPLIED MATERIALS INC,100,2020,May,30
4,Garrett Motion Inc. (GTX) CEO Olivier Rabiller...,"May 11, 2020 5:16 PM ET",Garrett Motion Inc. (GTX),"Start Time: 08:30 January 1, 0000 9:26 AM ET...",GTX,Garrett Motion Inc.,None,None,0,2020,May,11
...,...,...,...,...,...,...,...,...,...,...,...,...
229736,Memorial Resource Development's (MRD) CEO John...,"May 6, 2015 9:50 PM ET",Memorial Resource Development Corp. (MRD),Memorial Resource Development Corp (NASDAQ:MRD...,MRD,Memorial Resource Development Corp.,0001599222,MEMORIAL RESOURCE DEV CORP,92,2015,May,6
229737,Intersect ENT's (XENT) CEO Lisa Earnhardt on Q...,"May 6, 2015 9:48 PM ET","Intersect ENT, Inc. (XENT)","Intersect ENT, Inc. (NASDAQ:XENT) Q1 2015 Earn...",XENT,"Intersect ENT, Inc.",0001271214,INTERSECT ENT INC,100,2015,May,6
229738,Paycom Software's (PAYC) CEO Chad Richison on ...,"May 6, 2015 9:46 PM ET","Paycom Software, Inc. (PAYC)",Paycom Software Inc. (NYSE:PAYC) Q1 2015 Earni...,PAYC,"Paycom Software, Inc.",0001590955,PAYCOM SOFTWARE INC,100,2015,May,6
229739,Cerulean Pharma's (CERU) CEO Chris Guiffre Dis...,"May 6, 2015 9:46 PM ET","DarÃ© Bioscience, Inc. (DARE)",Cerulean Pharma Inc. (CERU) Q1 2015 Earnings C...,DARE,"DarÃ© Bioscience, Inc.",0001701808,DARE BIOSCIENCE INC,97,2015,May,6
229740,Powell Industries' (POWL) CEO Mike Lucas on Q2...,"May 6, 2015 9:37 PM ET","Powell Industries, Inc. (POWL)","Powell Industries, Inc. (NASDAQ:POWL) Q2 2015 ...",POWL,"Powell Industries, Inc.",0000080420,POWELL INDUSTRIES INC,100,2015,May,6

In [136]:
myDict['0000821189']

[Timestamp('1989-12-30 00:00:00'),
 Timestamp('1990-12-30 00:00:00'),
 Timestamp('1991-12-30 00:00:00'),
 Timestamp('1992-12-30 00:00:00'),
 Timestamp('1993-12-30 00:00:00'),
 Timestamp('1994-12-30 00:00:00'),
 Timestamp('1995-12-30 00:00:00'),
 Timestamp('1996-12-30 00:00:00'),
 Timestamp('1997-12-30 00:00:00'),
 Timestamp('1998-12-30 00:00:00'),
 Timestamp('1999-12-30 00:00:00'),
 Timestamp('2000-12-30 00:00:00'),
 Timestamp('2001-12-30 00:00:00'),
 Timestamp('2002-12-30 00:00:00'),
 Timestamp('2003-12-30 00:00:00'),
 Timestamp('2004-12-30 00:00:00'),
 Timestamp('2005-12-30 00:00:00'),
 Timestamp('2006-12-30 00:00:00'),
 Timestamp('2007-12-30 00:00:00'),
 Timestamp('2008-12-30 00:00:00'),
 Timestamp('2009-12-30 00:00:00'),
 Timestamp('2010-12-30 00:00:00'),
 Timestamp('2011-12-30 00:00:00'),
 Timestamp('2012-12-30 00:00:00'),
 Timestamp('2013-12-30 00:00:00'),
 Timestamp('2014-12-30 00:00:00'),
 Timestamp('2015-12-30 00:00:00'),
 Timestamp('2016-12-30 00:00:00'),
 Timestamp('2017-12-30 00:00:00'),
 Timestamp('2018-12-30 00:00:00'),
 Timestamp('2019-12-31 00:00:00'),
 Timestamp('2020-12-30 00:00:00'),
 Timestamp('2021-12-30 00:00:00')]

In [137]:
fiscalyears = []
nonevals = []
for i in range(len(df)):
    cik = df['CIK'][i]
    if cik==None:
        fiscalyears.append(None)
        continue
    year = int(df['Year'][i])
    #print(year)
    try:
        timestamp = myDict[cik][year-1989]
        datadate = timestamp.day
        datamonth = timestamp.month
        calldate = int(df['Day'][i])
        callmonth = toint(df['Month'][i])
        yr = year
        if callmonth < datamonth:
            yr = year - 1
        elif callmonth > datamonth:
            yr = year
        elif callmonth == datamonth:
            if calldate <= datadate:
                yr = year - 1
            else:
                yr = year
        fiscalyears.append(yr)
    except:
        fiscalyears.append(None)
        nonevals.append(i)

In [138]:
len(fiscalyears)

229741

In [139]:
df['fyear'] = fiscalyears

In [140]:
df.head()

,Text,Field1,Field2_Text,Field3,tickers,company_names_seekingalpha,CIK,company_names_database,similarity_scores,Year,Month,Day,fyear
0,"EOG Resources, Inc. (EOG) CEO Bill Thomas Pres...","Jun. 1, 2020 2:30 PM ET","EOG Resources, Inc. (EOG)","EOG Resources, Inc. (NYSE:EOG) AllianceBernste...",EOG,"EOG Resources, Inc.",0000821189,EOG RESOURCES INC,100,2020,Jun,1,2019.0
1,Eaton Vance Corp. (EV) CEO Tom Faust on Q2 202...,"May 20, 2020 5:35 PM ET",Eaton Vance Corp. (EV),Eaton Vance Corp. (NYSE:EV) Q2 2020 Results C...,EV,Eaton Vance Corp.,0000350797,EATON VANCE CORP,100,2020,May,20,2019.0
2,Whitestone REIT (WSR) CEO Jim Mastandrea on Q1...,"May 8, 2020 5:25 PM ET",Whitestone REIT (WSR),Whitestone REIT (NYSE:WSR) Q1 2020 Earnings Co...,WSR,Whitestone REIT,0001175535,WHITESTONE REIT,100,2020,May,8,2019.0
3,Applied Materials Inc (AMAT) CEO Gary Dickerso...,"May 30, 2020 1:22 AM ET","Applied Materials, Inc. (AMAT)",Applied Materials Inc (NASDAQ:AMAT) 2020 Bern...,AMAT,"Applied Materials, Inc.",0000006951,APPLIED MATERIALS INC,100,2020,May,30,2019.0
4,Garrett Motion Inc. (GTX) CEO Olivier Rabiller...,"May 11, 2020 5:16 PM ET",Garrett Motion Inc. (GTX),"Start Time: 08:30 January 1, 0000 9:26 AM ET...",GTX,Garrett Motion Inc.,None,None,0,2020,May,11,NaN

In [141]:
len(df)

229741

In [142]:
df_new1 = df.mask(df.eq('None')).dropna().reset_index(drop = True)

In [143]:
df_new = df_new1

In [144]:
df_new.head()

,Text,Field1,Field2_Text,Field3,tickers,company_names_seekingalpha,CIK,company_names_database,similarity_scores,Year,Month,Day,fyear
0,"EOG Resources, Inc. (EOG) CEO Bill Thomas Pres...","Jun. 1, 2020 2:30 PM ET","EOG Resources, Inc. (EOG)","EOG Resources, Inc. (NYSE:EOG) AllianceBernste...",EOG,"EOG Resources, Inc.",0000821189,EOG RESOURCES INC,100,2020,Jun,1,2019.0
1,Eaton Vance Corp. (EV) CEO Tom Faust on Q2 202...,"May 20, 2020 5:35 PM ET",Eaton Vance Corp. (EV),Eaton Vance Corp. (NYSE:EV) Q2 2020 Results C...,EV,Eaton Vance Corp.,0000350797,EATON VANCE CORP,100,2020,May,20,2019.0
2,Whitestone REIT (WSR) CEO Jim Mastandrea on Q1...,"May 8, 2020 5:25 PM ET",Whitestone REIT (WSR),Whitestone REIT (NYSE:WSR) Q1 2020 Earnings Co...,WSR,Whitestone REIT,0001175535,WHITESTONE REIT,100,2020,May,8,2019.0
3,Applied Materials Inc (AMAT) CEO Gary Dickerso...,"May 30, 2020 1:22 AM ET","Applied Materials, Inc. (AMAT)",Applied Materials Inc (NASDAQ:AMAT) 2020 Bern...,AMAT,"Applied Materials, Inc.",0000006951,APPLIED MATERIALS INC,100,2020,May,30,2019.0
4,"Park Hotels & Resorts, Inc. (PK) CEO Thomas Ba...","May 11, 2020 5:10 PM ET",Park Hotels & Resorts Inc. (PK),"Park Hotels & Resorts, Inc. (NYSE:PK) Q1 2020 ...",PK,Park Hotels & Resorts Inc.,0001617406,PARK HOTELS & RESORTS,100,2020,May,11,2019.0

In [145]:
df['Month'].unique()

array(['Jun', 'May', 'Apr', 'Feb', 'Jan', 'Dec', 'Nov', 'Oct', 'Aug',
       'Sep', 'Jul', 'Mar'], dtype=object)

In [146]:
month_dict = {
    'Jun' : '06', 'May' : '05', 'Apr' : '04', 'Feb' : '02', 'Jan' : '01' , 'Dec' : '12', 'Nov' : '11', 'Oct' : '10' , 'Aug' : '08',
       'Sep' : '09', 'Jul' : '07', 'Mar' : '03'
}

In [147]:
month_no_list = []
for i in range(0,len(df_new)):
    month_no_list.append(month_dict[df_new['Month'][i]])
df_new['Month_'] = month_no_list

In [148]:
day_no_list = []
for i in range(0,len(df_new)):
    if(int(df_new['Day'][i]) >= 1 and int(df_new['Day'][i]) <= 9):
        day_no_list.append('0'+ df_new['Day'][i])
    else:
        day_no_list.append(df_new['Day'][i])
    
df_new['Day_'] = day_no_list

In [149]:
# put correct dateyear in each row
dateyear_list = []
for i in range(0,len(df_new)):
    conf_time = df_new['Year'][i] + '-' + f"{df_new['Month_'][i]}" + '-' + f"{df_new['Day_'][i]}"
    
    if(conf_time < myDict[df_new['CIK'][i]][int(df_new['Year'][i])-1989].date().strftime('%Y-%m-%d')):
         # prev dateyear
        dateyear = myDict[df_new['CIK'][i]][int(df_new['Year'][i])-1989-1].date().strftime('%Y-%m-%d')
    else:
        # same dateyear
        dateyear = myDict[df_new['CIK'][i]][int(df_new['Year'][i])-1989].date().strftime('%Y-%m-%d')
    dateyear_list.append(dateyear)
df_new['dateyear'] = dateyear_list

In [150]:
# checking
count1 = 0
count2 = 0
for i in range(0,len(df_new)):
    if(df_new['Year'][i] == df_new['dateyear'][i].replace('-', ' ').split(' ')[0]):
        count1 += 1
    else:
        count2 += 1
# count1(conference with same conf_year and dateyear) is more than count2 (conference with different conf_year and dateyear)

In [151]:
conf_time_list = []
for i in range(0,len(df_new)):
    conf_time_list.append(df_new['Year'][i] + '-' + f"{df_new['Month_'][i]}" + '-' + f"{df_new['Day_'][i]}")
df_new['conf_time'] = conf_time_list

In [152]:
df_new2 = df_new

In [153]:
df_new.head(3)

,Text,Field1,Field2_Text,Field3,tickers,company_names_seekingalpha,CIK,company_names_database,similarity_scores,Year,Month,Day,fyear,Month_,Day_,dateyear,conf_time
0,"EOG Resources, Inc. (EOG) CEO Bill Thomas Pres...","Jun. 1, 2020 2:30 PM ET","EOG Resources, Inc. (EOG)","EOG Resources, Inc. (NYSE:EOG) AllianceBernste...",EOG,"EOG Resources, Inc.",0000821189,EOG RESOURCES INC,100,2020,Jun,1,2019.0,06,01,2019-12-31,2020-06-01
1,Eaton Vance Corp. (EV) CEO Tom Faust on Q2 202...,"May 20, 2020 5:35 PM ET",Eaton Vance Corp. (EV),Eaton Vance Corp. (NYSE:EV) Q2 2020 Results C...,EV,Eaton Vance Corp.,0000350797,EATON VANCE CORP,100,2020,May,20,2019.0,05,20,2019-10-31,2020-05-20
2,Whitestone REIT (WSR) CEO Jim Mastandrea on Q1...,"May 8, 2020 5:25 PM ET",Whitestone REIT (WSR),Whitestone REIT (NYSE:WSR) Q1 2020 Earnings Co...,WSR,Whitestone REIT,0001175535,WHITESTONE REIT,100,2020,May,8,2019.0,05,08,2019-12-31,2020-05-08

In [154]:
# add quarter column
def date_range(start, end, intv):
    from datetime import datetime
    start = datetime.strptime(start,"%Y%m%d")
    end = datetime.strptime(end,"%Y%m%d")
    diff = (end  - start ) / intv
    for i in range(intv):
        yield (start + diff * i).strftime("%Y%m%d")
    yield end.strftime("%Y%m%d")

quarters_list = []

for i in range(0,len(df_new)):
    conf_date = df_new['conf_time'][i].replace('-','')
    
    dateyear_i = df_new['dateyear'][i].replace('-','')
    
    dateyear_year = df_new['dateyear'][i].split('-')[0]
    dateyear_f = myDict[df_new['CIK'][i]][int(dateyear_year)-1989+1].date().strftime('%Y%m%d')
    
    intervals = list(date_range(dateyear_i,dateyear_f, 4))
    
    
    if(conf_date >= intervals[0] and conf_date < intervals[1]):
        quarters_list.append(1)
    elif(conf_date >= intervals[1] and conf_date < intervals[2]):
        quarters_list.append(2)
    elif(conf_date >= intervals[2] and conf_date < intervals[3]):
        quarters_list.append(3)
    elif(conf_date >= intervals[3] and conf_date < intervals[4]):
        quarters_list.append(4)

df_new['quarter'] = quarters_list

In [155]:
df_new.head(1)

,Text,Field1,Field2_Text,Field3,tickers,company_names_seekingalpha,CIK,company_names_database,similarity_scores,Year,Month,Day,fyear,Month_,Day_,dateyear,conf_time,quarter
0,"EOG Resources, Inc. (EOG) CEO Bill Thomas Pres...","Jun. 1, 2020 2:30 PM ET","EOG Resources, Inc. (EOG)","EOG Resources, Inc. (NYSE:EOG) AllianceBernste...",EOG,"EOG Resources, Inc.",0000821189,EOG RESOURCES INC,100,2020,Jun,1,2019.0,06,01,2019-12-31,2020-06-01,2

In [156]:
df_new_sorted1 = df_new.sort_values(by=["CIK",'conf_time'], kind="mergesort").reset_index(drop = True)
df_new_sorted2 = df_new.sort_values(by=["CIK",'dateyear','quarter'], kind="mergesort").reset_index(drop = True)
df_new_sorted3 = df_new.sort_values(by=["CIK",'dateyear'], kind="mergesort").reset_index(drop = True)

In [166]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
import re
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DIVYANSHU\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [161]:
documents_df = pd.DataFrame(documents_df,columns=['documents'])

# removing special characters and stop words from the text
stop_words_l=stopwords.words('english')
documents_df['documents_cleaned']=documents_df.apply(lambda x: " ".join(re.sub(r'[^a-zA-Z]',' ',w).lower() for w in x.split() if re.sub(r'[^a-zA-Z]',' ',w).lower() not in stop_words_l) )

tfidfvectoriser=TfidfVectorizer()
tfidfvectoriser.fit(documents_df.documents_cleaned)
tfidf_vectors=tfidfvectoriser.transform(documents_df.documents_cleaned)

pairwise_similarities=np.dot(tfidf_vectors,tfidf_vectors.T).toarray()
pairwise_differences=euclidean_distances(tfidf_vectors)

def most_similar(doc_id,similarity_matrix,matrix):
    print (f'Document: {documents_df.iloc[doc_id]["documents"]}')
    print ('\n')
    print ('Similar Documents:')
    if matrix=='Cosine Similarity':
        similar_ix=np.argsort(similarity_matrix[doc_id])[::-1]
    elif matrix=='Euclidean Distance':
        similar_ix=np.argsort(similarity_matrix[doc_id])
    for ix in similar_ix:
        if ix==doc_id:
            continue
        print('\n')
        print (f'Document: {documents_df.iloc[ix]["documents"]}')
        print (f'{matrix} : {similarity_matrix[doc_id][ix]}')

most_similar(0,pairwise_similarities,'Cosine Similarity')
most_similar(0,pairwise_differences,'Euclidean Distance')

NameError: name 'documents_df' is not defined

In [165]:
class Scores:
    def __init__(self):

        # tf_idf
        import pandas as pd
        import numpy as np
        from nltk.corpus import stopwords
        import nltk
        nltk.download('stopwords')
        import re
        from sklearn.feature_extraction.text import TfidfVectorizer 
        from sklearn.metrics.pairwise import cosine_similarity
        from sklearn.metrics.pairwise import euclidean_distances


        # word2Vec
        from keras.preprocessing.text import Tokenizer
        from keras.preprocessing.sequence import pad_sequences
        import gensim
        # loading pre-trained embeddings, each word is represented as a 300 dimensional vector
        global W2V_PATH
        global model_w2v
        W2V_PATH = "GoogleNews-vectors-negative300.bin.gz"
        model_w2v = gensim.models.KeyedVectors.load_word2vec_format(W2V_PATH, binary=True)


        # doc2Vec

        from gensim.models.doc2vec import Doc2Vec, TaggedDocument
        from nltk.tokenize import word_tokenize
        import nltk
        nltk.download('punkt')


        # bert

        from sentence_transformers import SentenceTransformer
        global sbert_model
        sbert_model = SentenceTransformer('bert-base-nli-mean-tokens')

    
    def return_score(self,pairwise_similarities,pairwise_differences,matrix):
        if matrix=='Cosine Similarity':
            score1 = pairwise_similarities[0][1]
        elif matrix=='Euclidean Distance':
            score1 = pairwise_differences[0][1]
        return score1
    
    def stopword(self,documents_df):
        
        stop_words_l=stopwords.words('english')
        documents_df['documents_cleaned']=documents_df.documents.apply(lambda x: " ".join(re.sub(r'[^a-zA-Z]',' ',w).lower() for w in x.split() if re.sub(r'[^a-zA-Z]',' ',w).lower() not in stop_words_l) )
        return documents_df
        
    def tf_idf_vectorizer(self,documents_df):
        
        tfidfvectoriser=TfidfVectorizer()
        tfidfvectoriser.fit(documents_df.documents_cleaned)
        tfidf_vectors=tfidfvectoriser.transform(documents_df.documents_cleaned)
        return tfidfvectoriser,tfidf_vectors
    
    def doc2Vec(self,documents_df,matrix):
        tagged_data = [TaggedDocument(words=word_tokenize(doc), tags=[i]) for i, doc in enumerate(documents_df.documents_cleaned)]
        model_d2v = Doc2Vec(vector_size=100,alpha=0.025, min_count=1)

        model_d2v.build_vocab(tagged_data)

        for epoch in range(100):
            model_d2v.train(tagged_data,
                        total_examples=model_d2v.corpus_count,
                        epochs=model_d2v.epochs)

        document_embeddings=np.zeros((documents_df.shape[0],100))

        for i in range(len(document_embeddings)):
            document_embeddings[i]=model_d2v.docvecs[i]


        pairwise_similarities=cosine_similarity(document_embeddings)
        pairwise_differences=euclidean_distances(document_embeddings)
        
        return self.return_score(pairwise_similarities,pairwise_differences,matrix)

        
    def word2Vec(self,documents_df,matrix):
        
        tokenizer=Tokenizer()
        tokenizer.fit_on_texts(documents_df.documents_cleaned)
        tokenized_documents=tokenizer.texts_to_sequences(documents_df.documents_cleaned)
        tokenized_paded_documents=pad_sequences(tokenized_documents,maxlen=64,padding='post')
        vocab_size = len(tokenizer.word_index)+1
        
        
        # creating embedding matrix, every row is a vector representation from the vocabulary indexed by the tokenizer index. 
        embedding_matrix=np.zeros((vocab_size,300))
        for word,i in tokenizer.word_index.items():
            if word in model_w2v:
                embedding_matrix[i]=model_w2v[word]
        # creating document-word embeddings
        document_word_embeddings=np.zeros((len(tokenized_paded_documents),64,300))
        for i in range(len(tokenized_paded_documents)):
            for j in range(len(tokenized_paded_documents[0])):
                document_word_embeddings[i][j]=embedding_matrix[tokenized_paded_documents[i][j]]
                
        # calculating average of word vectors of a document weighted by tf-idf
        document_embeddings=np.zeros((len(tokenized_paded_documents),300))
        tfidfvectoriser = self.tf_idf_vectorizer()
        words=tfidfvectoriser.get_feature_names()
        
        for i in range(len(document_word_embeddings)):
            for j in range(len(words)):
                a = tfidf_vectors[i].toarray().T
                document_embeddings[i]+=embedding_matrix[tokenizer.word_index[words[j]]]*a[j]

        pairwise_similarities=cosine_similarity(document_embeddings)
        pairwise_differences=euclidean_distances(document_embeddings)
        
        return self.return_score(pairwise_similarities,pairwise_differences,matrix)
        
        

    def tf_idf(self,documents_df,matrix):
        
        documents_df = self.stopword(documents_df)
        tfidfvectoriser,tfidf_vectors = self.tf_idf_vectorizer(documents_df)
        
        pairwise_similarities = np.dot(tfidf_vectors,tfidf_vectors.T).toarray()
        pairwise_differences = euclidean_distances(tfidf_vectors)
        
        return self.return_score(pairwise_similarities,pairwise_differences,matrix)
    
    def bert(self,documents_df):
        
        

        document_embeddings = sbert_model.encode(documents_df['documents_cleaned'])

        pairwise_similarities=cosine_similarity(document_embeddings)
        pairwise_differences=euclidean_distances(document_embeddings)

        return self.return_score(pairwise_similarities,pairwise_differences,matrix)

In [ ]:
# score funcition for calculating score between any two documents
def score(documents_df,matrix):
    
    stop_words_l=stopwords.words('english')
    documents_df['documents_cleaned']=documents_df.Field3.apply(lambda x: " ".join(re.sub(r'[^a-zA-Z]',' ',w).lower() for w in x.split() if re.sub(r'[^a-zA-Z]',' ',w).lower() not in stop_words_l) )

    tfidfvectoriser=TfidfVectorizer()
    tfidfvectoriser.fit(documents_df.documents_cleaned)
    tfidf_vectors=tfidfvectoriser.transform(documents_df.documents_cleaned)

    pairwise_similarities=np.dot(tfidf_vectors,tfidf_vectors.T).toarray()
    pairwise_differences=euclidean_distances(tfidf_vectors)
    
    
    if matrix=='Cosine Similarity':
        score1 = pairwise_similarities[0][1]
    elif matrix=='Euclidean Distance':
        score1 = pairwise_differences[0][1]
    return score1

# per Conference df

In [ ]:
df_per_conference = df_new_sorted1

In [ ]:
df_per_conference.head(2)

In [ ]:
df_per_conference1 = df_per_conference[30:60]

In [ ]:
x = df_per_conference1[['CIK','conf_time','Field3']]

In [ ]:
# df1

In [ ]:
# score calculating logic per dateyear

x['Cosine_Similarity'] = ""
x['Euclidean_Distance'] = ""

index_list = x.index.tolist()

for i in range(1,len(x)):


    document = x.iloc[i-1:i+1,2].reset_index(drop = True).to_frame()

    cosine = score(document,'Cosine Similarity')
    euclidean = score(document,'Euclidean Distance')

    x['Cosine_Similarity'][index_list[i]] = cosine
    x['Euclidean_Distance'][index_list[i]] = euclidean

In [ ]:
x

# per quarter df

In [ ]:
df_per_quarter = df_new_sorted2

In [ ]:
df_per_quarter2 = df_per_quarter[30:50]

In [ ]:
array_agg2 = lambda x: ' '.join(x)
df_2 = df_per_quarter2.groupby(['CIK','dateyear','quarter']).agg({'Field3':array_agg2})

In [ ]:
df_2

In [ ]:
y = df_2.reset_index(inplace=False)

In [ ]:
y

In [ ]:
# a = y.loc[y['CIK'] == '0000001750']
# a
# b = a.loc[a['dateyear'] == '2018-05-30']
# b
# b.iloc[0:3]
# b.index.tolist()
# document = y.iloc[0:,3].reset_index(drop = True).to_frame()
# score(document,'Cosine Similarity')

In [ ]:
y['Cosine_Similarity'] = ""
y['Euclidean_Distance'] = ""

CIK_list_2 = list(set(y['CIK'].to_list()))

for i in range(0,len(CIK_list_2)):
    df_temp_cik_2 = y.loc[y['CIK'] == CIK_list_2[i]]
    
    for i in range(0,len(df_temp_cik_2)):
        dateyear_list_2 = list(set(df_temp_cik_2['dateyear'].to_list()))
    
        
        for i in range(0,len(dateyear_list_2)):
            df_temp_dateyear_2 = df_temp_cik_2.loc[df_temp_cik_2['dateyear'] == dateyear_list_2[i]]
            
            index_list = df_temp_dateyear_2.index.tolist()
            
            for i in range(1,len(df_temp_dateyear_2)):
                document = df_temp_dateyear_2.iloc[i-1:i+1,3].reset_index(drop = True).to_frame()
                
                cosine = score(document,'Cosine Similarity')
                euclidean = score(document,'Euclidean Distance')
                y['Cosine_Similarity'][index_list[i]] = cosine
                y['Euclidean_Distance'][index_list[i]] = euclidean

In [ ]:
y

In [ ]:
# arrays2 = [['0000001750'], ['2007-05-30'],['4']]
# i2 = pd.MultiIndex.from_arrays(arrays2, names=('CIK', 'dateyear','quarter'))
# t2 = df_3.loc[i]['Field3']
# t2[0]

# per dateyear df

In [ ]:
df_per_dateyear = df_new_sorted3

In [ ]:
df_per_dateyear3 = df_per_dateyear[0:30]

In [ ]:
array_agg3 = lambda x: ' '.join(x)
df_3 = df_per_dateyear3.groupby(['CIK','dateyear']).agg({'Field3':array_agg3})

In [ ]:
df_3

In [ ]:
z = df_3.reset_index(inplace=False)

In [ ]:
z

In [ ]:
# score calculating logic per dateyear

z['Cosine_Similarity'] = ""
z['Euclidean_Distance'] = ""

CIK_list_3 = list(set(z['CIK'].to_list()))

for i in range(0,len(CIK_list_3)):
    df_temp_cik_3 = z.loc[z['CIK'] == CIK_list_3[i]]
    
    dateyear_list_3 = list(set(df_temp_cik_3['dateyear'].to_list()))
    
    dateyear_year = []
    for i in range(0,len(dateyear_list_3)):
        dateyear_year.append(int(dateyear_list_3[i].split('-')[0]))
        
    dateyear_year = set(dateyear_year)
    
    index_list = df_temp_cik_3.index.tolist()

    for i in range(1,len(df_temp_cik_3)):
        current_year = int(df_temp_cik_3['dateyear'][i].split('-')[0])

        
        if current_year - 1 in dateyear_year:
            document = df_temp_cik_3.iloc[i-1:i+1,2].reset_index(drop = True).to_frame()

            cosine = score(document,'Cosine Similarity')
            euclidean = score(document,'Euclidean Distance')

            z['Cosine_Similarity'][index_list[i]] = cosine
            z['Euclidean_Distance'][index_list[i]] = euclidean

In [ ]:
# c
# CIK_list_3
# index_list
# dateyear_list_3
# print(dateyear_year)

In [ ]:
z

In [ ]:
sorted_df = df.sort_values(by= ["CIK","fyear","Month","Day"], kind="mergesort", ascending=[True, True, True, True]).reset_index(drop = True)

In [ ]:
sorted_df

In [ ]:
clean_df = sorted_df.dropna()
clean_df = sorted_df.reset_index(drop=True)

In [ ]:
clean_df.head()

In [ ]:
clean_df = sorted_df[sorted_df['fyear'].notna()]

In [ ]:
clean_df = clean_df.reset_index(drop = True)

In [ ]:
clean_df.head(10)